@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
* {
  font-family: "Noto Sans JP", sans-serif;
  line-height: normal;
}

body.i-j {
  color: #6e5773;
}
body.j-i {
  color: #7286d3;
}
body.i-k {
  color: #756ab6;
}
body.r-k {
  color: #e97777;
}

.box-jawaban {
  background-color: #776d8a;
  width: 160px;
  padding: 6px 8px;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 10px;
  border: 4px solid #ffb6b9;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
.j-i .box-jawaban {
  background-color: #7286d3;
  border: 4px solid #ffd966;
}
.i-k .box-jawaban {
  background-color: #756ab6;
  border: 4px solid #e0aed0;
}
.r-k .box-jawaban {
  background-color: #9e7676;
  border: 4px solid #fcddb0;
}
.btn-mode {
  border: 2px solid #6e5773;
  padding: 4px 10px;
  border-radius: 10px;
  width: fit-content;
}
.j-i .btn-mode {
  border: 2px solid #7286d3;
}
.i-k .btn-mode {
  border: 2px solid #756ab6;
}
.r-k .btn-mode {
  border: 2px solid #9e7676;
}
.menu a {
  background-color: #776d8a;
  color: white;
  padding: 4px 10px;
  border-radius: 10px;
}

.j-i .menu a {
  background-color: #7286d3 !important;
  color: white;
}
.i-k .menu a {
  background-color: #756ab6 !important;
  color: white;
}
.r-k .menu a {
  background-color: #9e7676 !important;
  color: white;
}

a.yt {
  background-color: #e36387;
}

.credit-box {
  border-radius: 20px;
  background-color: #776d8a;
}

.benar {
  background-color: #679b9b !important;
}
.salah {
  background-color: #e36387 !important;
}

.i-j {
  background-color: #f3e6e3;
}
.j-i {
  background-color: #eef1ff;
}
.i-k {
  background-color: #ffe5e5;
}
.r-k {
  background-color: #fffad7;
}

@media only screen and (max-width: 360px) {
  .box-jawaban {
    width: 140px !important;
    padding: 4px 6px;
  }
  .sect {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
}
